@import 'libs/slider';
@import "bootstrap/bootstrap";

/* button search  */
#btn-cart{
    margin-bottom: 5%;
    
}

/* button plus-minus */
.btn-plus-minus{
    background-color: transparent;
    border: 0 !important;
    padding: 0 !important;
    color: #666666 !important;
    &:hover{
        background-color: transparent;
        color: #0090c5 !important;
    }
}

/* Input quantity  */
#input-quantity{
    //width: 60px;
    //height: 30px;
    text-align: center !important;
}

/* Show Image  */
.img-show{
    height: 100px;
    border-radius: 5px;
}
/* Margin button top */
.btn-form{
    margin-top: 10px;
}

/* Table */
#table{
    margin-top: 20px;
    th{
        text-transform: uppercase;
    }
    td{
        text-align: center;
        vertical-align: middle;
        
        img{
            height: 60px;
            border-radius: 5px;
        }
    }
}

/* Search */
#search{
    margin-top: 2%;
    margin-bottom: 2%;
    border-radius: 5px;
}

/* Pagination */
#pagination{
    text-align: center;
}

/* Footer */
#contact{
    text-align: center;
}