@import 'libs/slider';
@import "bootstrap/bootstrap";

/* button search  */


.toogle-custom {
     ul {
		li {
			line-height: 4.5em;
			padding-left: 1.5em;

			a {
				font-weight: 800;
				letter-spacing: 0.025em;
				color: #696969;
				text-decoration: none !important;
				border-radius: 6px;
				padding: 0.5em 1em 0.5em 1em;
			}

			&:hover {
				a {
					background: #fff;
				}
			}

			&.active {
				a {
					background: #fff;
				}
			}
		}
	}
}


#btn-toogle{
    background: rgba(0, 0, 0, 0.5) !important;
    opacity: 0.35 !important;
    border-radius: 6px !important;
}

#btn-cart{
    margin-bottom: 5%;
    
}

/* button plus-minus */
.btn-plus-minus{
    background-color: transparent;
    border: 0 !important;
    padding: 0 !important;
    color: #666666 !important;
    &:hover{
        background-color: transparent;
        color: #0090c5 !important;
    }
}

/* Input quantity  */
#input-quantity{
    //width: 60px;
    //height: 30px;
    text-align: center !important;
}

/* Show Image  */
.img-show{
    height: 100px;
    border-radius: 5px;
}
/* Margin button top */
.btn-form{
    margin-top: 10px;
}

/* Table */
#table{
    margin-top: 20px;
    th{
        text-transform: uppercase;
    }
    td{
        text-align: center;
        vertical-align: middle;
        
        img{
            height: 60px;
            border-radius: 5px;
        }
    }
}

/* Search */
#search{
    margin-top: 2%;
    margin-bottom: 2%;
    border-radius: 5px;
}

/* Pagination */
#pagination{
    text-align: center;
}

/* Footer */
#contact{
    text-align: center;
}