@import 'libs/slider';
@import "bootstrap/bootstrap";



/* button search  */
#btn-search{
    background-color: transparent;
    border: 0 !important;
    padding: 0 !important;
    color: #666666!important;
}

/* Show Image  */
.img-show{
    height: 100px;
    border-radius: 5px;
}
/* Margin button top */
.btn-form{
    margin-top: 10px;
}

/* Table */
#table{
    margin-top: 20px;
    th{
        text-transform: uppercase;
    }
    td{
        text-align: center;
        vertical-align: middle;
        
        img{
            height: 60px;
            border-radius: 5px;
        }
    }
}

/* Search */
#search{
    margin-bottom: 20px;
    border-radius: 5px;
}

/* Pagination */
#pagination{
    text-align: center;
}

/* Footer */
#contact{
    text-align: center;
}