<!-- Slider -->
<div id="carousel-example-generic" class="carousel slide" data-ride="carousel">
    <!-- Indicators -->
    <ol class="carousel-indicators">
        <li data-target="#carousel-example-generic" data-slide-to="0" class="active"></li>
        <li data-target="#carousel-example-generic" data-slide-to="1"></li>
        <li data-target="#carousel-example-generic" data-slide-to="2"></li>
        <li data-target="#carousel-example-generic" data-slide-to="3"></li>
    </ol>

    <!-- Wrapper for slides -->
    <div class="carousel-inner" role="listbox">
        <div class="item active">
            <img src="images/amores-sao-como-livros.html.jpg" class="slider" alt="menina com livro" />
            <div class="carousel-caption">
                <h3>Ler livros faz bem a cuca</h3>
                <p>Compre um livro</p>
            </div>
        </div>
        <div class="item">
            <img src="images/lord-of-the-rings-wallpaper7.jpg" class="slider" alt="lord of the rings" />
            <div class="carousel-caption">
                <h3>O senhor dos aneis</h3>
                <p>Triologia completa de senhor dos aneis</p>
            </div>
        </div>
        <div class="item">
            <img src="images/403408.jpg" class="slider" alt="games of thrones" />
            <div class="carousel-caption">
                <h3>Games of Thrones</h3>
                <p>Toda a coletânea de GOT</p>
            </div>
        </div>
         <div class="item">
            <img src="../../images/maxresdefault.jpg" class="slider" alt="poder do xablau" />
            <div class="carousel-caption">
                <h3>O poder do xablau</h3>
                <p>Sinta sua força</p>
            </div>
        </div>
    </div>
</div>

<!-- Features -->
<div id="features-wrapper">
    <div class="container">
       <input id="search" type="text" class="6u  -3u 12u(medium)" ng-model="title"/>
       <button id="btn-search" type="button" ng-click="finByTitle()"><i class="fa fa-search" aria-hidden="true"></i></i></button>
        <div class="row">
            <div class="4u 12u(medium)" ng-repeat="book in books">
                <!-- Box -->
                <section class="box feature">
                    <a href="#" class="image featured"><img ng-src="data:image/*; base64,{{book.image}}" alt="" /></a>
                    <div class="inner">
                        <header>
                            <h2>{{book.title}}</h2>
                            <p><strong>Auhtor:</strong> {{book.author.name}}</p>
                        </header>
                        <p><strong>Description:</strong> {{book.description}}</p>
                        <p><strong>Year:</strong> {{book.year}}</p>
                        <p><strong>$:</strong> {{book.price | currency:'':2}}</p>
                    </div>
                </section>
            </div>
            <nav aria-label="Page navigation" class="12u 6u$(medium) 12u$(small)" id="pagination">
                <ul class="pagination">
                    <li ng-repeat="page in totalPages"><a ng-click="findPagination(page)" href="#/">{{page+1}}</a></li>
                </ul>
            </nav>
        </div>
    </div>
</div>

<!-- Footer -->
<div id="footer-wrapper">
    <footer id="footer" class="container">
        <div class="row">
            <div class="12u 6u$(medium) 12u$(small)">

                <!-- Contact -->
                <section id="contact" class="widget contact last">
                    <h3>Contact Us</h3>
                    <ul>
                        <li><a href="#" class="icon fa-google-plus"><span class="label">Goole-plus</span></a></li>
                        <li><a href="#" class="icon fa-facebook"><span class="label">Facebook</span></a></li>
                        <li><a href="#" class="icon fa-linkedin"><span class="label">Linkedin </span></a></li>
                        <li><a href="#" class="icon fa-github"><span class="label">Github</span></a></li>
                        <li><a href="#" class="icon fa-spotify"><span class="label">Spotify</span></a></li>
                    </ul>
                    <p>Várzea<br/> Recife, PE 00000<br /> (081) 98948-2850</p>
                </section>

            </div>
        </div>
        <div class="row">
            <div class="12u">
                <div id="copyright">
                    <ul class="menu">
                        <li>&copy; Untitled. All rights reserved</li>
                        <li>Design: <a href="http://html5up.net">HTML5 UP</a></li>
                    </ul>
                </div>
            </div>
        </div>
    </footer>
</div>
